<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
{% include 'header.html' %}
{% include 'menu.html' %}

<div class='main'>
    <h1>Editing: {{ item.title }}</h1>
    <form action="{{url_for('edit_item', item_title = item.title)}}" method="POST">
        <div class="group">
            <input type="text" name="new_title" value="{{item.title}}" required="required">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>New Title</label>
        </div>
        <div class="group">
            <textarea name="new_description" required="required">{{item.description}}</textarea>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>New Description</label>
        </div>
        Category:
        <select name="new_category">
            {% for category in categories%}
                {% if category_name == category.name %}
                    <option value="{{ category.id }}" selected>{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
        {% endfor %}
        </select>
        <div class="btn-box">
            <input class="input-btn" type="submit" value="Edit">
            <a  class="input-btn" href = "{{url_for('show_item_description', category_name = category_name, item_title = item.title)}}">
            Cancel</a>
        </div>
    </form>
</div>   
</body>
</html>